wsamples.txt
usamples.txt
ypsamples.txt
betasamples.txt
*.so
output.lst
.Rhistory
*.o
*.swp
*.swo
*.Rcheck
*.zip
*.tar.gz
OriginalDataPaucarpata.csv
EndSampleImage.img
cofactors.txt
convergence_tests.txt
estimated.txt
sampled.txt
dbFitted.csv
Rprof.out
